bcrypt==3.1.7
beautifulsoup4==4.9.3
celery==4.4.2
cement==2.8.2
certifi==2020.4.5.1
cffi==1.13.0
chardet==3.0.4
cryptography==2.8
cssselect2==0.4.1
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
dj-database-url==0.5.0
Django==3.1.4
django-bootstrap-form==3.4
django-bootstrap4==2.3.1
django-cors-headers==3.2.1
django-crispy==1.8.1
django-heroku==0.3.1
djangorestframework==3.11.0
gunicorn==20.0.4
h5py==2.10.0
html5lib==1.1
Pillow==8.1.0
pipenv==2018.11.26
protobuf==3.12.2
psycopg2==2.8.6
psycopg2-binary==2.8.4
social-auth-app-django==4.0.0
social-auth-core==4.1.0
whitenoise==5.2.0

